<footer class="footer">
  <div class="footer-content">
    <div class="company-info asepa">
      <a href="http://www.asepaenergy.it/" target="_blank">
        <img src="assets/asepa_Logo.png" alt="Asepa Energy Logo" class="footer-logo">
      </a>
      <div class="asepa-text">
        
          <span>2016 © Asepa Energy Srl | <a href="http://www.asepaenergy.it/privacy-policy" target="_blank"> Privacy Policy</a></span>
       
      </div>
    </div>
    <div class="social-links">
      <a href="#" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
      <a href="#" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
      <a href="#" aria-label="Skype"><i class="fa fa-skype"></i></a>
      <a href="#" aria-label="Google Plus"><i class="fa fa-google-plus"></i></a>
      <a href="#" aria-label="LinkedIn"><i class="fa fa-linkedin"></i></a>
      <a href="#" aria-label="RSS"><i class="fa fa-rss"></i></a>
    </div>
    
    <div class="company-info">
     
        <img src="assets/logo-sf.png" alt="SolarFertigation Logo" class="sf-logo">
       <a href="http://www.solarfertigation.com/" target="_blank">
      <span>© 2024 SolarFertigation</span>
    </a>
    </div>

    <div class="divider"></div>

    
    <div class="eu-logos">
      <a href="https://www.ponricerca.gov.it/opportunita/riprogrammazione-react-eu/react-eu-contratti-di-ricerca-innovazione-e-green/" target="_blank">
        <img src="assets/PonEU_logo-1024x179.png" alt="PON EU Logos" class="eu-logo">
      </a>
    </div>
  </div>
</footer>